.App {
  text-align: center;
  
}

.App-header,
.dashboard {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dashboard {
  height: 75vmin;
}




