.App-logo {
    height: 10vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: cadetblue;
      margin-top: 1em;
      width: 90vmax;
      height: 3em;
  }

  ul {
      list-style: none;
      width: 30%;
      display: flex;
      justify-content: space-evenly;
  }

  li {
      color: white;
      
  }

  li a {
      color: white;
      text-decoration: none;
  }